name: CI

on:
  push:
    branches:
      - main
    tags: [ 'v*' ]
  pull_request:

jobs:
  macos:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: 3.12
          architecture: x64
      - uses: dtolnay/rust-toolchain@nightly
      - name: Build wheels
        uses: messense/maturin-action@v1
        with:
          target: universal2-apple-darwin
          args: --release --out dist
          sccache: true
      - name: Build free-threaded wheels
        uses: messense/maturin-action@v1
        with:
          target: universal2-apple-darwin
          args: --release --out dist -i python3.13t
          sccache: true
      - name: Install built wheel
        run: |
          pip install nh3 --no-index --find-links dist --force-reinstall
          pip install pytest
          cd tests && pytest
      - name: Upload wheels
        uses: actions/upload-artifact@v3
        with:
          name: wheels
          path: dist

  windows:
    runs-on: windows-latest
    strategy:
      matrix:
        target: [x64, x86]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: 3.12
          architecture: ${{ matrix.target }}
      - uses: dtolnay/rust-toolchain@nightly
      - name: Build wheels
        uses: messense/maturin-action@v1
        with:
          maturin-version: v1.7.6-beta.1
          target: ${{ matrix.target }}
          args: --release --out dist
      - name: Build free-threaded wheels
        uses: messense/maturin-action@v1
        with:
          maturin-version: v1.7.6-beta.1
          target: ${{ matrix.target }}
          args: --release --out dist -i python3.13t
      - name: Install built wheel
        run: |
          pip install nh3 --no-index --find-links dist --force-reinstall
          pip install pytest
          cd tests && pytest
      - name: Upload wheels
        uses: actions/upload-artifact@v3
        with:
          name: wheels
          path: dist

  linux:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target: [x86_64, i686]
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
      with:
        python-version: 3.12
        architecture: x64
    - name: Build wheels
      uses: messense/maturin-action@v1
      with:
        rust-toolchain: nightly
        target: ${{ matrix.target }}
        manylinux: auto
        args: --release --out dist
        sccache: true
    - name: Build free-threaded wheels
      uses: messense/maturin-action@v1
      with:
        rust-toolchain: nightly
        target: ${{ matrix.target }}
        manylinux: auto
        args: --release --out dist -i python3.13t
        sccache: true
    - name: Install built wheel
      if: matrix.target == 'x86_64'
      run: |
        pip install nh3 --no-index --find-links dist --force-reinstall
        pip install pytest
        cd tests && pytest
    - name: Upload wheels
      uses: actions/upload-artifact@v3
      with:
        name: wheels
        path: dist

  linux-cross:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target: [aarch64, armv7, s390x, ppc64le, ppc64]
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
      with:
        python-version: 3.12
    - name: Build wheels
      uses: messense/maturin-action@v1
      with:
        rust-toolchain: nightly
        target: ${{ matrix.target }}
        manylinux: auto
        args: --release --out dist
        sccache: true
    - name: Build free-threaded wheels
      uses: messense/maturin-action@v1
      with:
        rust-toolchain: nightly
        target: ${{ matrix.target }}
        manylinux: auto
        args: --release --out dist -i python3.13
        sccache: true
    - uses: uraimo/run-on-arch-action@v2.8.1
      if: matrix.target != 'ppc64'
      name: Install built wheel
      with:
        arch: ${{ matrix.target }}
        distro: ubuntu22.04
        githubToken: ${{ github.token }}
        install: |
          apt-get update
          apt-get install -y --no-install-recommends python3 python3-pip
          pip3 install -U pip pytest
        run: |
          pip3 install nh3 --no-index --find-links dist/ --force-reinstall
          cd tests && pytest
    - name: Upload wheels
      uses: actions/upload-artifact@v3
      with:
        name: wheels
        path: dist

  musllinux:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target:
          - x86_64-unknown-linux-musl
          - i686-unknown-linux-musl
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
      with:
        python-version: 3.12
        architecture: x64
    - name: Build wheels
      uses: messense/maturin-action@v1
      with:
        target: ${{ matrix.target }}
        manylinux: musllinux_1_2
        args: --release --out dist
        sccache: true
    - name: Build free-threaded wheels
      uses: messense/maturin-action@v1
      with:
        target: ${{ matrix.target }}
        manylinux: musllinux_1_2
        args: --release --out dist -i python3.13t
        sccache: true
    - name: Install built wheel
      if: matrix.target == 'x86_64-unknown-linux-musl'
      uses: addnab/docker-run-action@v3
      with:
        image: alpine:latest
        options: -v ${{ github.workspace }}:/io -w /io
        run: |
          apk add py3-virtualenv
          python3 -m virtualenv .venv
          source .venv/bin/activate
          pip install -U pip pytest
          pip install nh3 --no-index --find-links /io/dist/ --force-reinstall
          cd tests && python3 -m pytest
    - name: Upload wheels
      uses: actions/upload-artifact@v3
      with:
        name: wheels
        path: dist

  musllinux-cross:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        platform:
          - target: aarch64-unknown-linux-musl
            arch: aarch64
          - target: armv7-unknown-linux-musleabihf
            arch: armv7
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
      with:
        python-version: 3.12
    - name: Build wheels
      uses: messense/maturin-action@v1
      with:
        target: ${{ matrix.platform.target }}
        manylinux: musllinux_1_2
        args: --release --out dist
        sccache: true
    - name: Build free-threaded wheels
      uses: messense/maturin-action@v1
      with:
        target: ${{ matrix.platform.target }}
        manylinux: musllinux_1_2
        args: --release --out dist -i python3.13t
        sccache: true
    - uses: uraimo/run-on-arch-action@v2.8.1
      name: Install built wheel
      with:
        arch: ${{ matrix.platform.arch }}
        distro: alpine_latest
        githubToken: ${{ github.token }}
        install: |
          apk add py3-virtualenv
        run: |
          python3 -m virtualenv .venv
          source .venv/bin/activate
          pip install pytest
          pip install nh3 --no-index --find-links dist/ --force-reinstall
          cd tests && python3 -m pytest
    - name: Upload wheels
      uses: actions/upload-artifact@v3
      with:
        name: wheels
        path: dist

  release:
    name: Release
    runs-on: ubuntu-latest
    if: "startsWith(github.ref, 'refs/tags/')"
    needs: [ macos, windows, linux, linux-cross ]
    steps:
      - uses: actions/download-artifact@v3
        with:
          name: wheels
      - uses: actions/setup-python@v4
        with:
          python-version: 3.12
      - name: Publish to PyPI
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
        run: |
          pip install --upgrade twine
          twine upload --skip-existing *
